*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;

}

#main{
     height: 100%;
     width: 100%;
     background-color: #fff;
     
}
#nav{
     height: 100px;
     width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;

}
#navpart1{
     
        display: flex;
        align-items: center;
        justify-content: center;
         
}
#nav h3{
       font-size: 17px;
       border: 1.5px solid black;
       padding: 5px 8px;
       border-radius: 50px;
       font-weight: 500;


}
#nav i{
    font-size: 17px;
    border: 1.5px solid black;
    padding: 5px 8px;
    border-radius: 50px;
    font-weight: 500;


}
#nav h1{
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
}
#nav button{
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5px solid black;
    font-size:  16px;
    font-weight: 600;
    background-color: #fff;

}
#btn2{
     background-color: rgb(255, 0, 0);
     border: none;
     color: #000000;



}
#main>h1{
        color: #000000;
        font-size: 100px;
        text-transform: uppercase;       
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        text-align: center;
         

}
img{
     height: 400px;
     width: 320px;
     object-fit: cover;
     object-position: top;
     position: absolute;
     top: 50%;
     left: 50%;
     border-radius: 20px;
     transform: translate(-50%,-50%);



}

#img1{
     transform: translate(-50%,-50%) rotate(-30deg);
}

#img2{
    transform: translate(-50%,-50%) rotate(-20deg);
}

#img3{
    transform: translate(-50%,-50%) rotate(-10deg);
}

#img4{
    transform: translate(-50%,-50%) rotate(-0deg);
}